@font-face {
    font-family: "Ubuntu-bold";
    src: url("/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu-bold-italic";
    src: url("/fonts/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu-italic";
    src: url("/fonts/Ubuntu-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu-medium";
    src: url("/fonts/Ubuntu-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu-medium-italic";
    src: url("/fonts/Ubuntu-MediumItalic.ttf");
    font-weight: medium;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: 137px 1fr;
}

h1 {
    font-size: 32px;
    font-family: "Ubuntu-bold", sans-serif;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #51344D;
    display: grid;
    grid-template-rows: 137px repeat(6, 71px) auto repeat(2, 71px) 40px;
    font-size: 20px;
    color: white;
}

.nav-header {
    display: grid;
}

.nav-header > h1 {
    align-self: center;
    justify-self: center;
}

.nav-link {
    display: grid;
    grid-template-columns: 85px 19px 1fr;
    align-items: center;
}

.nav-link > img {
    justify-self: end;
}

.nav-link > p {
    grid-column: 3 / 4;
}

.nav-settings {
    grid-row: 9 / 10;
}

.nav-support {
    grid-row: 10 / 11;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
}

.upload-button {
    all: unset;
    border: 3px solid #51344D;
    border-radius: 59px;
    width: 186px;
    height: 60px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 56px 17px 113px;
}

.upload-button > img {
    grid-column: 1 / 2;
    justify-self: end;
}

.upload-button > p {
    grid-column: 3 / 4;
    justify-self: start;
    font-family: "Ubuntu-medium", sans-serif;
    font-size: 20px;
    color: #51344D;
    margin: 0;
}

.search {
    background-color: #E4E4E4;
    height: 60px;
    width: auto;
    border-radius: 59px;
    display: grid;
    grid-template-columns: 49px auto;
}

.search > img {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: aquamarine;
}