@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-MediumItalic.ttf");
    font-weight: medium;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: 137px 1fr;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #51344D;
    display: grid;
    grid-template-rows: 137px repeat(6, 71px) auto repeat(2, 71px) 40px;
    font-size: 20px;
    color: white;
}

.nav-header {
    display: grid;
}

.nav-header > h1 {
    align-self: center;
    justify-self: center;
}

.nav-link {
    display: grid;
    grid-template-columns: 85px 19px 1fr;
    align-items: center;
}

.nav-link > img {
    justify-self: end;
}

.nav-link > p {
    grid-column: 3 / 4;
}

.nav-settings {
    grid-row: 9 / 10;
}

.nav-support {
    grid-row: 10 / 11;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: pink;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: aquamarine;
}