@font-face {
    font-family: "Ubuntu-bold";
    src: url("/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu-bold-italic";
    src: url("/fonts/Ubuntu-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu-italic";
    src: url("/fonts/Ubuntu-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu-medium";
    src: url("/fonts/Ubuntu-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu-medium-italic";
    src: url("/fonts/Ubuntu-MediumItalic.ttf");
    font-weight: medium;
    font-style: italic;
}
@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 296px 1fr;
    grid-template-rows: 137px 1fr;
}

h1 {
    font-size: 32px;
    font-family: "Ubuntu-bold", sans-serif;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #51344D;
    display: grid;
    grid-template-rows: 137px repeat(6, 71px) auto repeat(2, 71px) 40px;
    font-size: 20px;
    color: white;
}

.nav-header {
    display: grid;
}

.nav-header > h1 {
    align-self: center;
    justify-self: center;
}

.nav-link {
    display: grid;
    grid-template-columns: 85px 19px 1fr;
    align-items: center;
}

.nav-link > img {
    justify-self: end;
}

.nav-link > p {
    grid-column: 3 / 4;
}

.nav-settings {
    grid-row: 9 / 10;
}

.nav-support {
    grid-row: 10 / 11;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    display: grid;
    grid-template-columns: 55px 186px 27px auto 27px 20px 26px 60px 55px;
    align-content: center;
}

.header-upload {
    grid-column: 2 / 3;
}

.header-search {
    grid-column: 4 / 5;
}

.header-notification {
    grid-column: 6 / 7;
    align-self: center;
}

.header-profile {
    grid-column: 8 / 9;
}

.upload-button {
    all: unset;
    border: 3px solid #51344D;
    border-radius: 59px;
    width: 186px;
    height: 60px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 56px 17px 113px;
}

.upload-button > img {
    grid-column: 1 / 2;
    justify-self: end;
}

.upload-button > p {
    grid-column: 3 / 4;
    justify-self: start;
    font-family: "Ubuntu-medium", sans-serif;
    font-size: 20px;
    color: #51344D;
    margin: 0;
}

.search {
    background-color: #E4E4E4;
    height: 60px;
    width: auto;
    border-radius: 59px;
    display: grid;
    grid-template-columns: 49px auto;
}

.search > img {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #E0D8DE;
    display: grid;
    grid-template-columns: 55px auto 22px 330px 55px;
    grid-template-rows: 100px auto;
}

.content > h2 {
    grid-column: 2 / 3;
    font-family: "Ubuntu-bold";
    font-size: 32px;
    margin: 0 0 20px 0;
    align-self: end;
}

.content > h3 {
    grid-column: 4 / 5;
    font-family: "Ubuntu-bold-italic";
    font-size: 24px;
    margin: 0 0 20px 0;
    align-self: end;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: 300px 300px;
    gap: 22px;
}

.project {
    width: 100%;
    height: 300px;
    background-color: white;
    border-bottom: 5px solid #51344D;
    border-radius: 10px;
}

h4 {
    all: unset;
    font-family: "Ubuntu-bold";
    font-size: 24px;
}

.project-content {
    padding: 32px;
    height: 236px;
    display: flex;
    flex-direction: column;
}

.project-content > p {
    flex-grow: 1;
}

.project-icons {
    align-self: flex-end;
    display: flex;
    column-gap: 19px;
}

.project-icons > img {
    height: 24px;
}

h5 {
    all: unset;
    font-family: "Ubuntu-medium";
    font-size: 20px;
}

.announcements-content {
    padding: 32px;
    height: 157px;
}

.announcements-content > p {
    font-size: 15px;
}

a {
    all: unset;
    font-family: "Ubuntu-medium";
    font-size: 15px;
    border-bottom: 1px solid black;
}

.divider {
    border-top: 2px solid black;
    width: 266px;
    margin: auto;
}

.side-content {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 461px 107px 196px;
}

.side-content > h3 {
    font-family: "Ubuntu-bold-italic";
    font-size: 24px;
    margin: 0 0 20px 0;
    align-self: end;
}

.announcements {
    width: 330px;
    height: 461px;
    background-color: white;
    border-radius: 10px;
}

.trending {
    width: 330px;
    height: 196px;
    background-color: white;
    border-radius: 10px;
    grid-row: 3 / 4;
}

.trending-content-start {
    padding: 32px 32px 16px 32px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.trending-content-middle {
    padding: 16px 32px 32px 32px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.trending-text > * {
    margin: 0;
}

.trending-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.handle {
    font-family: "Ubuntu-medium";
    font-size: 16px;
    padding-bottom: 3px;
}